<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>832860763543-676605mk3bacj4glijgmo58r5cin3v5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.832860763543-676605mk3bacj4glijgmo58r5cin3v5b</string>
	<key>API_KEY</key>
	<string>AIzaSyCwVj_ux1chNolNibbZ6t4WQixkVK9q9Sk</string>
	<key>GCM_SENDER_ID</key>
	<string>832860763543</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tundsdev.Introduction-to-NavigationStack-test-push</string>
	<key>PROJECT_ID</key>
	<string>test-push-notifications-3f66d</string>
	<key>STORAGE_BUCKET</key>
	<string>test-push-notifications-3f66d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832860763543:ios:2cf4a7155e8a54475a00d2</string>
</dict>
</plist>